{% extends "home/header.html" %}

{% block title_name %}Contact{% endblock %}

{% block nav_contact %}active{% endblock %}


{% block content %}
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ex erat, porttitor sit amet varius eu, suscipit sit amet lacus. Nam dictum fermentum sollicitudin. Ut eget dignissim elit, ac euismod erat. Nulla suscipit finibus turpis, eu ultricies erat rhoncus id. Nullam nec tortor luctus, placerat velit vel, interdum arcu. Etiam imperdiet vehicula enim, rhoncus vehicula libero dictum id. Aliquam euismod vitae enim sed volutpat. Quisque efficitur odio non nibh imperdiet molestie. Phasellus ut dui eget lectus molestie suscipit.
	</p>

	<p>Integer in volutpat nunc, pellentesque ornare risus. Phasellus scelerisque vel elit sed dictum. Aliquam erat volutpat. Cras tincidunt, dolor at lacinia bibendum, purus erat convallis erat, vel pellentesque nunc lectus eget odio. Nulla sed risus vulputate, luctus erat ac, posuere dui. Proin tempor neque justo, sed efficitur odio faucibus vel. Etiam porttitor ligula eu massa accumsan porttitor. In ac tellus et leo convallis scelerisque.</p>

	<p><strong>
	Contato com porf. Nelson. <br>
	Tel: +351 999 999 999
	</strong></p>
{% endblock %}