<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body class="body" style="background-color:#f6f6f6">


	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>UALG Voluntary Works</h3>
				  </center>
			  </div>
		</div><hr>

        <div class="row">
			<div class="col-sm-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
                            <div id="sidebar" class="well sidebar-nav">
                                <h5><i class="glyphicon glyphicon-home"></i>
                                    <small><b>Site</b></small>
                                </h5>
                                <ul class="nav nav-pills nav-stacked">
                                    <!--TODO Figure out how to make a active thing on the sidebar.-->
                                    <!--<li class="active"><a href="/">Home</a></li>-->
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/news/">News</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                </ul>
                                <h5><i class="glyphicon glyphicon-user"></i>
                                    <small><b>Data Base</b></small>
                                </h5>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href='/list/volunteer/'>Volunteers</a></li>
                                    <li><a href='/list/project/'>Projects</a></li>
                                    <li><a href='/list/benefited/'>Benefited</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!-- Content Here -->
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class='container-fluid'>
                                        <br><br>
                                       {% block content %}
                                       {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p>
                <a href="#" target="blank">Contact</a> |
                <a href="#" target="blank">LinkedIn</a> |
                <a href="#" target="blank">Twitter</a> |
                <a href="#" target="blank">Google+</a>
            </p>
		</div>
	</footer>	
</body>
</html>

<!--
Menu Snippet: https://bootsnipp.com/snippets/featured/admin-sidebar-menu-bs30
-->